{{> includes/header}}

<div class="jumbotron text-center">
<h1>Final Project KCGI</h1>

<p><a href="/Accounts">Account Detials</a></p>
<p><a href="/orders">Item Listings</a></p>

</div>
{{> includes/footer}}